@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Right - Bootstrap Admin Template</title>
	<link rel="icon" type="image/png" href="~/Images/favicon.png">
	@*<link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png">*@
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
	<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Content/awesome-bootstrap-checkbox.css" rel="stylesheet" />
	<link href="~/Content/right.lilac.css" rel="stylesheet" />
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body class="framed">
	<div class="wrapper">
		<div class="login">
			<form class="login__form">
				<h4 class="text-center">Thank you for registering.</h4>
				<hr />
				<h5 class="text-center">An email has been sent to your inbox. Please click on the link within the message to confirm your email address.</h5>
			</form>
		</div>
	</div>
	<script src="~/Scripts/jquery.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
