@{
    ViewBag.Title = "Reset password confirmation";
}
	<div class="main">
		<div class="main__scroll scrollbar-macosx">
			<div class="main__cont">
				<div class="main-heading">
					<div class="main-title">
						<ol class="breadcrumb">
							<li class="active">Reset Password</li>
						</ol>
					</div>
					<div class="main-filter">
						<form class="main-filter__search">
							<div class="input-group">
								<input class="form-control" type="text" placeholder="Search...">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<div class="fa fa-search"></div>
									</button>
								</span>
							</div>
						</form>
					</div>
				</div>
				<div class="container-fluid half-padding">
					<div class="template template__blank">
						<div>
							<p>
								Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
