<meta http-equiv="refresh" content="5;url=/Home/Dashboard" />
<div class="main">
	<div class="main__scroll scrollbar-macosx">
		<div class="main__cont">
			<div class="container-fluid half-padding">
				<div class="template template__blank">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-danger">
								<div class="panel-heading">
									<h3 class="panel-title">Password Changed</h3>
								</div>
								<div class="panel-body">
									<p>
										Your password was successfully changed. You will be redirected in five seconds.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>